# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. FirstName LastName

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Customer(<u>cust_no</u>, name, e-mail, phone, address):
    - <b>(IC-2)</b>	E-mails are unique
- Order(<u>order_no</u>, date);
- places(cust_no, <u>order_no</u>):
    - cust_no:		FK (Costumer)
    - order_no:      	FK (Order)
    - <b>(IC-1)</b>  	Customers can only pay for the Sale of an Order they have placed themselves
- Sale(<u>order_no</u>):
    - order_no:      	FK (Order)
- pay(cust_no, <u>order_no</u>):	
    - cust_no:        	FK (Customer)
    - order_no:      	FK (Order)
- Employee(<u>ssn</u>, TIN, bdate, name):
    - <b>(IC-4)</b> 	TINs are unique
- process(ssn, <u>order_no</u>):
    - ssn:     		FK (Employee)
    - order_no:      	FK (Order)
- Department(<u>name</u>); 
- Workplace(<u>address</u>, lat, long):
    - unique(lat, long)
- works(ssn, name, address):
    - ssn:     		FK (Employee)        	
    - name: 		FK (Department)
    - address: 		FK (Workplace)
- Office(<u>address</u>):
    - address: 		FK (Workplace)
- Warehouse(<u>address</u>):
    - address: 		FK (Workplace)
- Product(<u>sku</u>, name, description, price);
- contains(order_no, sku, qty):
    - order_no:      	FK (Order)
    - sku:    		FK (Product)
    - Supplier(<u>TIN</u>, name, address) 
- supply-contract(sku, TIN, date):
    - sku:    		FK (Product)  
    - TIN:    		FK (Supplier)
- delivery(adress, sku, TIN):
    - address: FK (Workplace)
    - sku: 		FK (Product)
    - TIN:    	FK (Supplier)
- EAN Product(<u>sku</u>, ean):
    - sku:    	FK (Product)

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$\Pi_{Customers.Name}  \big(\sigma_{Products.Price > 50}((Customers \bowtie Orders) \bowtie Products) \big)$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$\Pi_{Employees.Name} \big((Employees \bowtie Workplaces) \bowtie (\sigma_{Orders.Date >= '2023-01-01' AND Orders.Date < '2023-02-01'} (Orders))\big)$

3. Indique o nome do produto mais vendido;

$\Pi_{Products.Name} \big ( Products \bowtie (G_{max(Orders.Quantity)} (Orders))\big)$

4. Indique o valor total de cada venda realizada.

$ _{(order\_no)}G_{sum(Products.Price * Orders.Quantity)} ( Orders) $

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [1]:
%load_ext sql
%sql postgresql://db:db@postgres/db

In [2]:
%%sql
-- schema.sql

drop table if exists customer cascade;
drop table if exists orders cascade;
drop table if exists places cascade;
drop table if exists sale cascade;
drop table if exists pay cascade;
drop table if exists employee cascade;
drop table if exists process cascade;
drop table if exists department cascade;
drop table if exists workplace cascade;
drop table if exists works cascade;
drop table if exists office cascade;
drop table if exists warehouse cascade;
drop table if exists product cascade;
drop table if exists contains cascade;
drop table if exists supplier cascade;
drop table if exists supply_contract cascade;
drop table if exists delivery cascade;
drop table if exists EAN_product cascade;

create table customer
(
    cust_no numeric(16, 0) not null unique,
    name varchar(30) not null,
    email varchar(30) not null unique,
    phone numeric(9, 0) not null,
    address varchar(80) not null,
    constraint pk_customer primary key (cust_no)
);

create table orders
(
    order_no numeric(16, 0) not null unique,
    order_date date not null,
    constraint pk_order primary key (order_no)
);

create table places
(
    cust_no numeric(16, 0) not null unique, 
    order_no numeric(16, 0) not null unique,
    constraint pk_places primary key (order_no),
    constraint fk_places_costumer foreign key (cust_no) references customer (cust_no),
    constraint fk_places_orders foreign key (order_no) references orders (order_no)
);

create table sale
(
    order_no numeric(16, 0) not null unique,
    constraint pk_sale primary key (order_no),
    constraint fk_sale_order foreign key (order_no) references orders (order_no)
);

create table pay
(
    cust_no numeric(16,0) not null unique, 
    order_no numeric(16, 0) not null unique,
    constraint pk_pay primary key (order_no),
    constraint fk_places_costumer foreign key (cust_no) references customer (cust_no),
    constraint fk_places_sale foreign key (order_no) references sale (order_no)
);

create table employee
(
    ssn numeric(9, 0) not null unique,
    TIN numeric(16, 0) not null unique,
    bdate date not null,
    name varchar(80) not null,
    constraint pk_employee primary key (ssn)
);

create table process
(
    ssn numeric(16, 0) not null unique,
    order_no numeric(16, 0) not null unique,
    constraint fk_process_employee foreign key (ssn) references employee (ssn),
    constraint fk_process_orders foreign key (order_no) references orders (order_no)
);

create table department
(
    name varchar(80) not null,
    constraint pk_department primary key (name)
);

create table workplace
(
    address varchar(80) not null unique,
    lat double precision not null,
    long double precision not null,
    unique (lat, long),
    constraint pk_workplace primary key (address)
);

create table works
(
    ssn numeric(16, 0) not null unique,
    name varchar(80) not null,
    address varchar(80) not null,
    constraint fk_works_employee foreign key (ssn) references employee (ssn),
    constraint fk_works_department foreign key (name) references department (name),
    constraint fk_works_workplace foreign key (address) references workplace (address)
);


create table office
(
    address varchar(80) not null unique,
    constraint fk_office_workplace foreign key (address) references workplace (address)
);

create table warehouse
(
    address varchar(80) not null unique,
    constraint fk_warehouse_workplace foreign key (address) references workplace (address)
);

create table product
(
    sku varchar(15) not null unique,
    name varchar(80) not null,
    description varchar(150) not null,
    price numeric(16, 2) not null,
    constraint pk_product primary key (sku)
);

create table contains
(
    order_no numeric(16, 0) not null unique,
    sku varchar(15) not null,
    qty numeric(16, 0) not null ,
    constraint fk_contains_orders foreign key (order_no) references orders (order_no),
    constraint fk_contains_product foreign key (sku) references product (sku)
);

create table supplier
(
    TIN numeric(16, 0) not null unique,
    name varchar(80) not null,
    address varchar(80) not null,
    constraint pk_supplier primary key (TIN)
);

create table supply_contract
(
    TIN numeric(16, 0) not null,
    sku varchar(15) not null,
    sp_date date not null,
    constraint fk_supply_contract_supplier foreign key (TIN) references supplier (TIN),
    constraint fk_supply_contract_product foreign key (sku) references product (sku)
);

create table delivery
(
    address varchar(80) not null,
    sku varchar(15) not null,
    TIN numeric(16, 0) not null,
    constraint fk_delivery_supplier foreign key (TIN) references supplier (TIN),
    constraint fk_delivery_workplace foreign key (address) references workplace (address),
    constraint fk_delivery_product foreign key (sku) references product (sku)
);

create table EAN_product 
(
    sku varchar(15) not null unique,
    ean numeric(13, 0) not null unique,
    constraint fk_EAN_product_product foreign key (sku) references product (sku)
);

*  postgresql://db:***@postgres/db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [3]:
%%sql
-- populate.sql

INSERT INTO customer VALUES (1, 'John Smith', 'johnsmith@mail.com', 234567890, '123 Main St');
INSERT INTO customer VALUES (2, 'Alice Johnson', 'alicejohnson@mail.com', 987654321, '456 Elm St');
INSERT INTO customer VALUES (3, 'Michael Brown', 'michaelbrown@mail.com', 551234567, '789 Oak Ave');
INSERT INTO customer VALUES (4, 'Emily Davis', 'emilydavis@mail.com', 219876543, '987 Maple Rd');
INSERT INTO customer VALUES (5, 'Daniel Wilson', 'danielwilson@mail.com', 888555134, '654 Pine Ln');
INSERT INTO customer VALUES (6, 'Sophia Martinez', 'sophiamartinez@mail.com', 246813790, '369 Cedar Dr');
INSERT INTO customer VALUES (7, 'Liam Anderson', 'liamanderson@mail.com', 777999888, '852 Birch Rd');
INSERT INTO customer VALUES (8, 'Olivia Taylor', 'oliviataylor@mail.com', 111222333, '741 Willow Ave');
INSERT INTO customer VALUES (9, 'James Thomas', 'jamesthomas@mail.com',444777111, '963 Spruce St');
INSERT INTO customer VALUES (10, 'Isabella Clark', 'isabellaclark@mail.com', 999888777, '258 Oakwood Dr');

INSERT INTO orders VALUES (1, '2022-12-20');
INSERT INTO orders VALUES (2, '2022-12-22');
INSERT INTO orders VALUES (3, '2022-12-24');
INSERT INTO orders VALUES (4, '2022-12-31');
INSERT INTO orders VALUES (5, '2023-02-27');
INSERT INTO orders VALUES (6, '2023-03-06');
INSERT INTO orders VALUES (7, '2023-04-07');
INSERT INTO orders VALUES (8, '2023-05-08');
INSERT INTO orders VALUES (9, '2023-05-09');
INSERT INTO orders VALUES (10, '2023-05-10');

INSERT INTO places VALUES (1, 5);
INSERT INTO places VALUES (2, 3);
INSERT INTO places VALUES (3, 4);
INSERT INTO places VALUES (4, 6);
INSERT INTO places VALUES (5, 9);

INSERT INTO sale VALUES (1);
INSERT INTO sale VALUES (2);
INSERT INTO sale VALUES (3);
INSERT INTO sale VALUES (4);
INSERT INTO sale VALUES (5);

INSERT INTO pay VALUES (1, 4);
INSERT INTO pay VALUES (2, 1);
INSERT INTO pay VALUES (3, 5);
INSERT INTO pay VALUES (4, 2);
INSERT INTO pay VALUES (5, 3);

INSERT INTO employee VALUES (111221111, 111111100, DATE '1990-01-01', 'John Snow');
INSERT INTO employee VALUES (222332222, 222222200, DATE '1993-04-22', 'Alice White');
INSERT INTO employee VALUES (333443333, 333333300, DATE '1990-07-03', 'Michael Black');
INSERT INTO employee VALUES (444554444, 444444400, DATE '1994-10-14', 'Emily Green');
INSERT INTO employee VALUES (555665555, 555555500, DATE '1991-01-25', 'Daniel Brown');
INSERT INTO employee VALUES (666776666, 666666600, DATE '1992-04-06', 'Sophia Gray');
INSERT INTO employee VALUES (777887777, 777777700, DATE '1995-07-17', 'Liam Taylor');
INSERT INTO employee VALUES (888998888, 888888800, DATE '1993-10-28', 'Olivia Anderson');
INSERT INTO employee VALUES (999009999, 999999900, DATE '1996-01-08', 'James Martinez');
INSERT INTO employee VALUES (000110000, 101010100, DATE '1994-04-19', 'Isabella Clark');

INSERT INTO process VALUES (111221111, 1);
INSERT INTO process VALUES (222332222, 2);
INSERT INTO process VALUES (333443333, 3);
INSERT INTO process VALUES (444554444, 4);
INSERT INTO process VALUES (777887777, 5);

INSERT INTO department VALUES ('Sales');
INSERT INTO department VALUES ('Marketing');
INSERT INTO department VALUES ('Human Resources');
INSERT INTO department VALUES ('Research and Development');
INSERT INTO department VALUES ('Accounting');

INSERT INTO workplace VALUES ('676 Elm St', 41.600075, -70.958042);
INSERT INTO workplace VALUES ('144 Main St', 40.850920, -73.967637);
INSERT INTO workplace VALUES ('123 Oak Ave', 40.565407, -74.1249428);
INSERT INTO workplace VALUES ('987 Maple Rd', 41.069706, -74.380989);
INSERT INTO workplace VALUES ('6 Pine Ln', 40.655135, -73.702898);

INSERT INTO works VALUES (111221111, 'Human Resources', '144 Main St');
INSERT INTO works VALUES (222332222, 'Sales', '676 Elm St');
INSERT INTO works VALUES (333443333, 'Sales', '123 Oak Ave');
INSERT INTO works VALUES (444554444, 'Marketing', '987 Maple Rd');
INSERT INTO works VALUES (555665555, 'Research and Development', '123 Oak Ave');
INSERT INTO works VALUES (666776666, 'Accounting', '6 Pine Ln');
INSERT INTO works VALUES (777887777, 'Human Resources', '144 Main St');
INSERT INTO works VALUES (888998888, 'Sales', '676 Elm St');
INSERT INTO works VALUES (999009999, 'Sales', '123 Oak Ave');
INSERT INTO works VALUES (000110000, 'Marketing', '987 Maple Rd');

INSERT INTO office VALUES ('144 Main St');
INSERT INTO office VALUES ('676 Elm St');
INSERT INTO office VALUES ('123 Oak Ave');
INSERT INTO office VALUES ('987 Maple Rd');
INSERT INTO office VALUES ('6 Pine Ln');

INSERT INTO warehouse VALUES ('123 Oak Ave');
INSERT INTO warehouse VALUES ('987 Maple Rd');
INSERT INTO warehouse VALUES ('6 Pine Ln');


INSERT INTO product VALUES ('PLT-PAP-PNK-09', 'Paper Plates (pink)', 'Pink paper plates 9" diameter - 50 pack', 4.99);
INSERT INTO product VALUES ('PLT-PAP-BLU-09', 'Paper Plates (blue)', 'Blue paper plates 9" diameter - 50 pack', 4.99);
INSERT INTO product VALUES ('PLT-PAP-WHT-09', 'Paper Plates (white)', 'White paper plates 9" diameter - 50 pack', 4.99);
INSERT INTO product VALUES ('PLT-PAP-RBP-09', 'Paper Plates (rainbow polka)', 'Rainbow Polka paper plates 9" diameter - 50 pack', 5.49);
INSERT INTO product VALUES ('PLT-PAP-USA-09', 'Paper Plates (American Flag)', 'American Flag paper plates 9" diameter - 50 pack', 5.49);
INSERT INTO product VALUES ('CUP-PAP-PNK-25', 'Paper Cups (pink)', 'Pink paper cups 25cL- 50 pack', 3.49);
INSERT INTO product VALUES ('CUP-PAP-BLU-25', 'Paper Cups (blue)', 'Blue paper cups 25cL- 50 pack', 3.49);
INSERT INTO product VALUES ('CUP-PAP-WHT-25', 'Paper Cups (white)', 'White paper cups 25cL - 50 pack', 3.49);
INSERT INTO product VALUES ('CUP-PAP-RBP-25', 'Paper Cups (rainbow polka)', 'Rainbow Polka paper cups 25cL - 50 pack', 3.99);
INSERT INTO product VALUES ('CUP-PAP-USA-25', 'Paper Cups (American Flag)', 'American Flag paper cups 25cL - 50 pack', 3.99);
INSERT INTO product VALUES ('CUP-PAP-PNK-10', 'Napkins (pink)', 'Pink napkins 10"x10" - 50 pack', 4.49);
INSERT INTO product VALUES ('CUP-PAP-BLU-10', 'Napkins (blue)', 'Blue napkins 10"x10" - 50 pack', 4.49);
INSERT INTO product VALUES ('CUP-PAP-WHT-10', 'Napkins (white)', 'White napkins 10"x10" - 50 pack', 4.49);
INSERT INTO product VALUES ('CUP-PAP-RBP-10', 'Napkins (rainbow polka)', 'Rainbow Polka napkins 10"x10" - 50 pack', 4.99);
INSERT INTO product VALUES ('CUP-PAP-USA-10', 'Napkins (American Flag)', 'American Flag napkins 10"x10" - 50 pack', 4.99);
INSERT INTO product VALUES ('FOR-PLA-WHT-50', 'Plastic Forks', 'Plastic forks - 50 pack', 2.99);
INSERT INTO product VALUES ('SPN-PLA-WHT-50', 'Plastic Spoons', 'Plastic spoons - 50 pack', 2.99);
INSERT INTO product VALUES ('KNF-PLA-WHT-50', 'Plastic Knives', 'Plastic knives - 50 pack', 2.99);
INSERT INTO product VALUES ('BPC-PLA-CSC-47', 'Beer Pong cups - Classic', 'Classic red and blue plastic Beer Pong cups 47cL - 1 set', 5.00);
INSERT INTO product VALUES ('BPC-PLA-USA-47', 'Beer Pong cups - American', 'American flag plastic Beer Pong cups 47cL - 1 set', 6.00);
INSERT INTO product VALUES ('BPC-PLA-RBW-47', 'Beer Pong cups - Rainbow', 'Rainbow plastic Beer Pong cups 47cL - 1 set', 6.00);
INSERT INTO product VALUES ('PIN-PAP-CSC-50', 'Pinata - classic', 'Classic pinata, 50cmx50cm', 15.00);
INSERT INTO product VALUES ('PIN-PAP-UNI-50', 'Pinata - Unicorn', 'Unicorn pinata, 50cmx50cm', 15.00);
INSERT INTO product VALUES ('PIN-PAP-FLP-50', 'Pinata - Flip Flop', 'Flip flop pinata, 50cmx50cm', 15.00);
INSERT INTO product VALUES ('PIN-PAP-RBW-50', 'Pinata - Rainbow', 'Rainbow shaped pinata, 50cmx50cm', 15.00);
INSERT INTO product VALUES ('PIN-PAP-BUS-75', 'Pinata buster', 'Pinata buster, 75cm', 4.99);
INSERT INTO product VALUES ('PIN-PAP-BLD-00', 'Pinata blindfold', 'Pinata blindfold', 2.99);
INSERT INTO product VALUES ('HAT-PAP-PNK-10', 'Party hats (pink)', 'Pink party hats - 10 pack', 3.99);
INSERT INTO product VALUES ('HAT-PAP-BLU-10', 'Party hats (blue)', 'Blue party hats - 10 pack', 3.99);
INSERT INTO product VALUES ('HAT-PAP-WHT-10', 'Party hats (white)', 'White party hats - 10 pack', 3.99);
INSERT INTO product VALUES ('HAT-PAP-RBP-10', 'Party hats (rainbow polka)', 'Rainbow Polka party hats - 10 pack', 4.49);
INSERT INTO product VALUES ('HAT-PAP-USA-10', 'Party hats (American Flag)', 'American Flag party hats - 10 pack', 4.49);
INSERT INTO product VALUES ('HEL-CAN-SML-30', 'Helium Canister', 'Helium canister that fills up to 30 9" balloons', 29.99);
INSERT INTO product VALUES ('HEL-CAN-LAR-50', 'Helium Canister - Large', 'Large Helium canister that fills up to 50 9" balloons', 39.99);
INSERT INTO product VALUES ('HEL-CAN-XXL-90', 'Helium Canister - XXL', 'XXL Helium canister that fills up to 90 9" balloons', 59.99);
INSERT INTO product VALUES ('FOG-MCH-NLD-2K', 'Fog Machine', 'Fog machine with wireless controller, 500W and 2000CFM output', 51.99);
INSERT INTO product VALUES ('FOG-MCH-LED-2K', 'Fog Machine - LEDs', 'Fog machine with wireless controller, 500W and 2000CFM output, with 13 colorful LED lights', 61.99);
INSERT INTO product VALUES ('BUB-MCH-SML-38', 'Bubble Machine - Small', 'Small automatic bubble blower - 38cL', 29.99);
INSERT INTO product VALUES ('BUB-MCH-LRG-75', 'Bubble Machine - Large', 'Large automatic bubble blower - 75cL', 55.29);
INSERT INTO product VALUES ('BUB-MCH-GUN-35', 'Bubble Machine - Gun', 'Automatic bubble blower Gun - 35cL', 31.99);

INSERT INTO EAN_product VALUES ('CUP-PAP-USA-25', 1234567891234);
INSERT INTO EAN_product VALUES ('CUP-PAP-RBP-25', 1234567891235);
INSERT INTO EAN_product VALUES ('CUP-PAP-WHT-25', 1234567891236);
INSERT INTO EAN_product VALUES ('CUP-PAP-BLU-10', 1234567891237);
INSERT INTO EAN_product VALUES ('CUP-PAP-USA-10', 1234567891238);
INSERT INTO EAN_product VALUES ('CUP-PAP-RBP-10', 1234567891239);
INSERT INTO EAN_product VALUES ('CUP-PAP-WHT-10', 1234567891240);

INSERT INTO contains VALUES (1, 'PLT-PAP-USA-09', 2);
INSERT INTO contains VALUES (2, 'HEL-CAN-XXL-90', 1);
INSERT INTO contains VALUES (3, 'BPC-PLA-CSC-47', 4);
INSERT INTO contains VALUES (4, 'BUB-MCH-LRG-75', 2);
INSERT INTO contains VALUES (5, 'PIN-PAP-FLP-50', 1);
INSERT INTO contains VALUES (6, 'CUP-PAP-WHT-25', 2);
INSERT INTO contains VALUES (7, 'CUP-PAP-RBP-25', 2);
INSERT INTO contains VALUES (8, 'CUP-PAP-USA-25', 10);
INSERT INTO contains VALUES (9, 'HAT-PAP-WHT-10', 1);
INSERT INTO contains VALUES (10, 'CUP-PAP-BLU-10', 2);


INSERT INTO supplier VALUES (0000000001, 'Papier Makier', '2022-11-25');
INSERT INTO supplier VALUES (0000000002, 'Bubble POP!', '2022-10-22');
INSERT INTO supplier VALUES (0000000003, 'HE HE!', '2023-02-25');
INSERT INTO supplier VALUES (0000000004, 'Pinata Central', '2023-03-10');
INSERT INTO supplier VALUES (0000000005, 'PONG IT', '2023-04-13');

INSERT INTO supply_contract VALUES (0000000003, 'HEL-CAN-XXL-90', '2022-10-22');
INSERT INTO supply_contract VALUES (0000000002, 'BUB-MCH-LRG-75', '2023-02-25'); 
INSERT INTO supply_contract VALUES (0000000004, 'PIN-PAP-FLP-50', '2023-03-10');
INSERT INTO supply_contract VALUES (0000000001, 'CUP-PAP-USA-25', '2023-04-13');
INSERT INTO supply_contract VALUES (0000000001, 'CUP-PAP-WHT-25', '2023-04-13');
INSERT INTO supply_contract VALUES (0000000001, 'CUP-PAP-RBP-25', '2023-08-17');
INSERT INTO supply_contract VALUES (0000000001, 'CUP-PAP-BLU-10', '2023-08-20');
INSERT INTO supply_contract VALUES (0000000001, 'PLT-PAP-USA-09', '2023-05-30');
INSERT INTO supply_contract VALUES (0000000001, 'PIN-PAP-FLP-50', '2023-06-27');
INSERT INTO supply_contract VALUES (0000000001, 'BPC-PLA-CSC-47', '2023-07-30');
INSERT INTO supply_contract VALUES (0000000005, 'BPC-PLA-CSC-47', '2023-07-15');


INSERT INTO delivery VALUES ('123 Oak Ave', 'HEL-CAN-XXL-90', 0000000003);
INSERT INTO delivery VALUES ('123 Oak Ave', 'BUB-MCH-LRG-75', 0000000002);
INSERT INTO delivery VALUES ('987 Maple Rd', 'PIN-PAP-FLP-50', 0000000004);
INSERT INTO delivery VALUES ('6 Pine Ln', 'CUP-PAP-USA-25', 0000000001);

*  postgresql://db:***@postgres/db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [17]:
%%sql

SELECT name FROM customer
    JOIN orders USING (order_no)

*  postgresql://db:***@postgres/db
(psycopg2.errors.UndefinedColumn) column "order_no" specified in USING clause does not exist in left table

[SQL: SELECT name FROM customer
    JOIN orders USING (order_no)]
(Background on this error at: https://sqlalche.me/e/20/f405)

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [5]:
%%sql

-- SELECT ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

3. Indique o nome do produto mais vendido;

In [6]:
%%sql

-- SELECT ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

4. Indique o valor total de cada venda realizada.

In [7]:
%%sql

-- SELECT ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)